<div id="<%= dom_id website %>">
  <p>
    <strong>Name:</strong>
    <%= website.name %>
  </p>

  <p>
    <strong>Theme selected:</strong>
    <%= website.theme.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= website.user_id %>
  </p>

</div>
