<h1>Editing website</h1>

<%= render "form", admin_website: @admin_website %>

<br>

<div>
  <%= link_to "Show this website", @admin_website %> |
  <%= link_to "Back to websites", admin_websites_path %>
</div>
