<div id="<%= dom_id section %>">
  <p>
    <strong>Name:</strong>
    <%= section.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= section.content %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= section.admin_theme_id %>
  </p>

</div>
