<h1>Editing section</h1>

<%= render "form", admin_section: @admin_section %>

<br>

<div>
  <%= link_to "Show this section", @admin_section %> |
  <%= link_to "Back to sections", admin_sections_path %>
</div>
